# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Ambiente Virtual
venv/
.venv/

# Variáveis de Ambiente
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/*
!uploads/.gitkeep